[submodule "tools/asm-processor"]
	path = tools/asm-processor
	url = git@github.com:simonlindholm/asm-processor.git
[submodule "tools/ultralib"]
	path = tools/ultralib
	url = git@github.com:decompals/ultralib.git
